body,
td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

.container {
    width: 85%;
    background-color: #f6f6ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 0px 0px 3px;
    background-color: #ff6600;
}

#logo {
    border: 1px white solid;
    width: 18px;
    height: 18px;
}

#header-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -2.5px;
}

#login a {
    color: #000000;
}

.menu-links a {
    margin-right: 4px;
}

.login {
    margin-left: auto;
    margin-right: 10px;
    margin-top: -2.5px;
}

ol {
    padding-left: 35px;
}

ul {
    padding-left: 25px;
    padding-top: 15px;
    color: black;
}

li {
    margin-bottom: 5px;
}

.site-link {
    color: #828282;
    font-size: 11px;
}

.undertitle-data,
.undertitle-data a {
    color: #828282;
    font-size: 9px;
}

.title-line a {
    text-decoration: none;
    margin-left: -3px;
}

.post-container {
    width: auto;
    margin-right: auto;
    margin-left: 0;
}

.post-title {
    color: #000;
}

.site-link a {
    color: #828282;
    font-size: 11px;
}

.site-link a:hover {
    text-decoration: underline;
}

.undertitle-data {
    color: #828282;
    font-size: 9px;
}

.undertitle-data a {
    color: #828282;
    text-decoration: none;
}

.undertitle-data a:hover {
    text-decoration: underline;
}

.upvote {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url("../images/upvote.svg"), linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-size: 10px;
    cursor: pointer;
}

.upvote-green {
    background-image: url("../images/upvote-green.svg"), linear-gradient(transparent, transparent);
}

#reloader {
   background-color: #ff6600;
   border: 0;
   cursor: pointer;
   margin-right: 4px;
}

input[type="number"] {
    width: auto;
    background-color: #ff6600;
    border: 0;
    cursor: pointer;
    margin-right: 4px;
}

hr {
    display: block;
    height: 2px;
    width: 100%;
    border-width: 0;
    background-color: red;
}

p {
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    text-align: left;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    html, body{
        margin: 0;
        padding: 0;
    }
    .container {
        width: 100%;
    }

    .header {
        flex-direction: column;
        text-align: center;
    }

    #header-text {
        flex-direction: column;
        align-items: center;
    }

    .login {
        margin: 10px 0;
    }

    .menu-links {
        flex-direction: column;
        align-items: center;
    }

    .post-container {
        width: 100%;
    }

    hr {
        margin: 20px 0;
    }

    p {
        text-align: center;
    }
}
